<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skylux Guest Portal</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <img id="skylux_logo" src="../static/image/skylux_logo.jpg">
</header>
<section id="form_content">
    <form action="guest" method="post">
        <label for="surname">Voornaam<br>
            <input name="surname" type="text" required><br>
        </label>
        <label for="name">Achternaam<br>
            <input name="name" type="text" required><br>
        </label>
        <label for="mail">Mail<br>
            <input name="mail" type="text" required><br>
        </label>
        <label for="company">Bedrijf<br>
            <input name="company" type="text"><br>
        </label>
        <label for="contact_person">Contactpersoon<br>
            <input name="contact_person" type="text" required><br>
        </label>
        <label for="number_plate">Nummerplaat<br>
            <input name="number_plate" type="text"><br><br>
        </label>
        <input id="submit_button" type="submit" value="Aanmelden">
    </form>
</section>
<footer id="footer_markup">
    <p>&copy;SkyluxNV</p>
</footer>
<!--<script src="../static/javascript/main.js"></script>-->
</body>
</html>